# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.roll-a-ball-basic.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Fradbox\repos\roll-a-ball-basic\.idea\.idea.roll-a-ball-basic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
